<div class="col-md-2">
    <img src="#" class="current-user">
    <p><a href="/users/<%= user._id %>/edit"><%= user.firstName %> <br> <%= user.lastName %></a></p>
    <span>Admin View</span>
    <a href="/users/<%= user._id %>/gifts/new" class="btn btn-primary">Create Gift</a>
    <ul class="nav bd-sidenav">
        <li class="bd-sidenav">Admins</li>
        <li class="bd-sidenav"><a href="/users">Members</a></li>
        <li class="bd-sidenav"><a href="/users/<%= user._id %>/gifts">Gifts</a></li>
        <li class="bd-sidenav"><a href="/logout">Sign out</a></li>
    </ul>
</div>