<% include ../../partials/head %>
<% include ../../partials/nav %>
<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2">
      <% include ../../partials/no-tabs %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% include ../../partials/sidebar %>
    <div class="col-md-10">
      <main>
        <% include ../../partials/admin/user-controller %>
        <table class="table">
          <thead class="thead-inverse">
          <tr>
            <th></th>
            <th>User</th>
            <th>Total Gifts</th>
            <th>Last Login</th>
            <th>Total Amount</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% items.forEach(function (user) { %>
          <% if(!user.isAdmin) { %>
          <tr>
            <td>
              <input type="checkbox" class="check" onchange="individualCheck('<%= user._id %>');">
            </td>
            <td>
              <div class="chip-user d-flex flex-items-md-middle">
                <div class="chip-user__img mr-1">
                  <a href="/dashboard/profile/<%= user._id %>/edit">
                    <img src="<%= user.profilePic || '/assets/img/user.png' %>" class="img-circle"></a>
                </div>
                <div class="chip-user__name">
                  <span class="real-name d-block"><%= user.firstName + ' ' + user.lastName %></span>
                  <span class="alias-name d-block"><%= user.aliasFirstName + ' ' + user.aliasLastName %></span>
                </div>
              </div>
            </td>
            <td class="text-primary text-bold"><%= user.gifts.length %> Gift(s)</td>
            <td><%= user.lastLoginDate.toLocaleDateString() %></td>
            <td class="text-primary text-bold">$<%= user.totalAmountOfGifts %></td>
            <td><a href="/admin/users/<%= user._id %>/gifts" class="text-bold">View Gifts</a></td>
          </tr>
          <% } %>
          <% }) %>
          </tbody>
        </table>
        <% if(!items || items.length < 1) { %>
        <div class="container empty-state">
          <i class="icon fa fa-users"></i>
          <h1>No users were found based on that query</h1>
        </div>
        <% } %>
      </main>

      <pagination>
        <% if(pagination.pages > 1) { %>
        <ul class="pagination">
          <li class="page-item <%= (query.page == 1) ? 'disabled' : '' %>">
            <a href="/admin/users?filter=<%= query.filter %>&page=1" class="page-link"> << </a>
          </li>
          <li class="page-item <%= (query.page == 1) ? 'disabled' : '' %>">
            <a href="/admin/users?filter=<%= query.filter %>&page=<%= (query.page > 1) ? query.page - 1 : 1 %>"
               class="page-link"> < </a>
          </li>

          <% for(let page = 1; page <= pagination.pages; page++) { %>
          <li class="page-item <%= (query.page == page) ? 'active' : '' %>">
            <a href="/admin/users?filter=<%= query.filter %>&page=<%= page %>" class="page-link">
              <%= page %>
            </a>
          </li>
          <% } %>

          <li class="page-item <%= (query.page >= pagination.pages) ? 'disabled' : '' %>">
            <a href="/admin/users?filter=<%= query.filter %>&page=<%= (query.page < pagination.pages) ? query.page + 1 : pagination.pages %>"
               class="page-link"> > </a>
          </li>
          <li class="page-item <%= (query.page >= pagination.pages) ? 'disabled' : '' %>">
            <a href="/admin/users?filter=<%= query.filter %>&page=<%= pagination.pages %>" class="page-link"> >> </a>
          </li>
        </ul>
        <% } %>
      </pagination>
    </div>
  </div>
</div>

<% if(items && items.length > 0) { %>
<script>

  //get list users from template
  var users = <%- JSON.stringify(items) %>;
  users.forEach(function(user) {
    user['select'] = false;
  });

  function individualCheck(id) {
    users.forEach(function(user) {
      if (user._id === id) {
        user['select'] = !user.select;
        return;
      }
    });
  }

  var selectAll = false;
  function selectedAllUsers() {
    selectAll = !selectAll;
    users.forEach(function(user) {
      user['select'] = selectAll;
    });
    console.log('users :', users)
  }

  function exportToExcel() {
    console.log('export clicked');
    //Export to excel
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/admin/users/excel-report', true);
    xhr.responseType = 'arraybuffer';
    xhr.onload = function() {
      if (this.status === 200) {
        var filename = '';
        var disposition = xhr.getResponseHeader('Content-Disposition');
        if (disposition && disposition.indexOf('attachment') !== -1) {
          var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
          var matches = filenameRegex.exec(disposition);
          if (matches != null && matches[1])
            filename = matches[1].replace(/['"]/g, '');
        }
        var type = xhr.getResponseHeader('Content-Type');

        var blob = new Blob([this.response], { type: type });
        if (typeof window.navigator.msSaveBlob !== 'undefined') {
          // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
          window.navigator.msSaveBlob(blob, filename);
        } else {
          var URL = window.URL || window.webkitURL;
          var downloadUrl = URL.createObjectURL(blob);

          if (filename) {
            // use HTML5 a[download] attribute to specify filename
            var a = document.createElement('a');
            // safari doesn't support this yet
            if (typeof a.download === 'undefined') {
              window.location = downloadUrl;
            } else {
              a.href = downloadUrl;
              a.download = filename;
              document.body.appendChild(a);
              a.click();
            }
          } else {
            window.location = downloadUrl;
          }

          setTimeout(
            function() {
              URL.revokeObjectURL(downloadUrl);
            },
            100
          ); // cleanup
        }
      } else {
        alert('Error, contact support');
      }
    };

    var finalUsers = users.filter(function(user) {
      if (user.select) {
        return user;
      }
    });

    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    xhr.send(JSON.stringify({ users: finalUsers }));
  }
</script>
<% } %>
<% include ../../partials/contact %>
<% include ../../partials/footer %>