<% include ../partials/head %>
<% include ../partials/admin-nav %>
<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2">
      <% include ../partials/user-profile-tabs %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% include ../partials/admin-sidebar %>
    <div class="offset-md-1 col-md-6 pt-2">
      <div class="row d-flex flex-items-md-between flex-items-md-middle mb-2">
        <div class="chip-user d-flex flex-items-md-middle">
          <div class="chip-user__img mr-1 hover-pointer" onclick="$('#profile-pic-chooser').trigger('click');">
            <%# <img src="https://s.gravatar.com/avatar/0a07df079fd7a07e4cd0e5668835296c?s=80" alt="" class="img-circle hover-pointer">%>
            <img id="profile-pic-show" src="<%= user.profilePic || "https://s.gravatar.com/avatar/0a07df079fd7a07e4cd0e5668835296c?s=80" %>" class="img-circle hover-pointer">
          </div>
          <div class="chip-user__name">
            <span class="real-name d-block text-primary text-bold"><%= user.firstName + ' ' + user.lastName %></span>
            <span class="alias-name d-block text-bold"><%= user.aliasFirstName + ' ' + user.aliasLastName %></span>
          </div>
        </div>
        <div class="prefered-payment">
          <span class="d-block">Your preferred payment</span>
          <div class="prefered-payment-icons">
            <% if (user.preferredPaymentMethod === 'paypal') { %>
              <i class="fa fa-paypal text-primary"></i>
              <span class="text-primary">Paypal</span>
            <% } else if (user.preferredPaymentMethod === 'check') { %>
              <i class="fa fa-bank text-primary"> </i>
              <span class="text-primary">Cheque</span>
            <% } else if (user.preferredPaymentMethod === 'deposit') { %>
              <i class="fa fa-dollar text-primary"> </i>
              <span class="text-primary">Deposit</span>
            <% } else { %>
              <i class="fa fa-ban text-primary"> </i>
              <span class="text-primary"> Not Yet Set!</span>
            <% }  %>

          </div>
        </div>
      </div>

      <form action="/users/<%= user._id %>/?_method=PUT" method="POST">
        <input type="file" id="profile-pic-chooser" class="hidden-xs-up"/>
        <input type="hidden" id="profile-pic-data-url" name="user[profilePic]" class="hidden-xs-up" value="<%= user.profilePic %>"/>
        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel">
            <div class="row mb-2">
              <div class="col-sm-6 form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="user[firstName]" id="firstName" value="<%= user.firstName %>">
              </div>
              <div class="col-sm-6 form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="user[lastName]" id="lastName" value="<%= user.lastName %>">
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-sm-6 form-group">
                <label for="aliasFirstName">Alias First Name</label>
                <input type="text" class="form-control" name="user[aliasFirstName]" id="aliasFirstName" value="<%= user.aliasFirstName %>">
              </div>
              <div class="col-sm-6 form-group">
                <label for="aliasLastName">Alias Last Name</label>
                <input type="text" class="form-control" name="user[aliasLastName]" id="aliasLastName" value="<%= user.aliasLastName %>">
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-sm-6 form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="user[username]" value="<%= user.username %>">
              </div>
              <div class="col-sm-6 form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" name="user[phone]" id="phone" value="<%= user.phone %>">
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-sm-6 form-group">
                <label for="addressLine1">Address Line 1</label>
                <input type="text" class="form-control" name="user[addressLine1]" id="addressLine1" value="<%= user.addressLine1 %>">
              </div>
              <div class="col-sm-6 form-group">
                <label for="addressLine2">Address Line 2</label>
                <input type="text" class="form-control" name="user[addressLine2]" id="addressLine2" value="<%= user.addressLine2 %>">
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-sm-6 form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" name="user[city]" id="city" value="<%= user.city %>">
              </div>
              <div class="col-sm-6 form-group">
                <label for="state">State</label>
                <select class="form-control" name="user[state]" id="state">
                  <option value="">Please Select</option>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-sm-6 form-group">
                <label for="zipCode">Zip Code</label>
                <input type="text" class="form-control" name="user[zipCode]" id="zipCode" value="<%= user.zipCode %>">
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-sm-6 form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="gift[password]" id="password">
              </div>
              <div class="col-sm-6 form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" name="gift[password]" id="password">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="payment-preference" role="tabpanel">

            <br/>
            Preferred Payment Method:
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="user[preferredPaymentMethod]" id="inlineRadio1" value="paypal" <% if (user.preferredPaymentMethod === "paypal") { %> checked="checked" <% } %>>
              <i class="fa fa-paypal"> </i> PayPal
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="user[preferredPaymentMethod]" id="inlineRadio2" value="check" <% if (user.preferredPaymentMethod === "check") { %> checked="checked" <% } %>>
              <i class="fa fa-bank"> </i> Cheque
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="user[preferredPaymentMethod]" id="inlineRadio3" value="deposit" <% if (user.preferredPaymentMethod === "deposit") { %> checked="checked" <% } %>>
              <i class="fa fa-dollar"> </i> Deposit
            </label>
            <br/>
            <br/>

            <ul class="nav nav-tabs nav-tabs-rounded" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#paypal" role="tab">PayPal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#check" role="tab">Check</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#direct" role="tab">Direct deposit</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="paypal" role="tabpanel">
                <div class="row pt-2">
                  <div class="col-md-12">
                    <span class="d-block mb-2">Enter E-Mail information</span>

                    <div class="row">
                      <div class="col-sm-6 form-group">
                        <label for="paypalEmail">Enter valid E-Mail</label>
                        <input type="email" class="form-control" id="paypalEmail" name="paypal[email]" placeholder="name@domain.com" value="">
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-6 form-group">
                        <label for="paypalEmailConfirmation">Confirm E-mail</label>
                        <input type="email" class="form-control" id="paypalEmailConfirmation" placeholder="name@domain.com" >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="check" role="tabpanel">
                <div class="row pt-2">
                  <div class="col-md-12">
                    <span class="d-block mb-2">Enter check information</span>

                    <div class="row mb-2">
                      <div class="col-sm-6 form-group">
                        <label for="addressLine1">Address Line 1</label>
                        <input type="text" class="form-control" name="check[addressLine1]" id="addressLine1"  value="">
                      </div>
                      <div class="col-sm-6 form-group">
                        <label for="addressLine2">Address Line 2</label>
                        <input type="text" class="form-control" name="check[addressLine2]" id="addressLine2"  value="">
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-sm-6 form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="check[city]" id="city" value="">
                      </div>
                      <div class="col-sm-6 form-group">
                        <label for="state">State</label>
                        <select class="form-control" name="check[state]" id="state">
                          <option value="">Please Select</option>
                          <option value="AL">Alabama</option>
                          <option value="AK">Alaska</option>
                          <option value="AZ">Arizona</option>
                          <option value="AR">Arkansas</option>
                          <option value="CA">California</option>
                          <option value="CO">Colorado</option>
                          <option value="CT">Connecticut</option>
                          <option value="DE">Delaware</option>
                          <option value="DC">District Of Columbia</option>
                          <option value="FL">Florida</option>
                          <option value="GA">Georgia</option>
                          <option value="HI">Hawaii</option>
                          <option value="ID">Idaho</option>
                          <option value="IL">Illinois</option>
                          <option value="IN">Indiana</option>
                          <option value="IA">Iowa</option>
                          <option value="KS">Kansas</option>
                          <option value="KY">Kentucky</option>
                          <option value="LA">Louisiana</option>
                          <option value="ME">Maine</option>
                          <option value="MD">Maryland</option>
                          <option value="MA">Massachusetts</option>
                          <option value="MI">Michigan</option>
                          <option value="MN">Minnesota</option>
                          <option value="MS">Mississippi</option>
                          <option value="MO">Missouri</option>
                          <option value="MT">Montana</option>
                          <option value="NE">Nebraska</option>
                          <option value="NV">Nevada</option>
                          <option value="NH">New Hampshire</option>
                          <option value="NJ">New Jersey</option>
                          <option value="NM">New Mexico</option>
                          <option value="NY">New York</option>
                          <option value="NC">North Carolina</option>
                          <option value="ND">North Dakota</option>
                          <option value="OH">Ohio</option>
                          <option value="OK">Oklahoma</option>
                          <option value="OR">Oregon</option>
                          <option value="PA">Pennsylvania</option>
                          <option value="RI">Rhode Island</option>
                          <option value="SC">South Carolina</option>
                          <option value="SD">South Dakota</option>
                          <option value="TN">Tennessee</option>
                          <option value="TX">Texas</option>
                          <option value="UT">Utah</option>
                          <option value="VT">Vermont</option>
                          <option value="VA">Virginia</option>
                          <option value="WA">Washington</option>
                          <option value="WV">West Virginia</option>
                          <option value="WI">Wisconsin</option>
                          <option value="WY">Wyoming</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-sm-6 form-group">
                        <label for="zipCode">Zip Code</label>
                        <input type="text" class="form-control" name="check[zipCode]" id="zipCode" value="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="direct" role="tabpanel">
                <div class="row pt-2">
                  <div class="col-md-12">
                    <span class="d-block mb-2">Enter bank information</span>
                    <div class="row mb-2">
                      <div class="col-sm-6 form-group">
                        <label for="routingOrTransit">Routing/Transit</label>
                        <input type="text" class="form-control" name="deposit[routingOrTransit]" id="routingOrTransit" value="">
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-sm-6 form-group">
                        <label for="accountNumber">Account number</label>
                        <input type="text" class="form-control" name="deposit[accountNumber]" id="accountNumber" value="">
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-sm-6 form-group">
                        <label for="confirmAccountNumber">Confirm Account number</label>
                        <input type="text" class="form-control" id="confirmAccountNumber">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="mt-2 btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  /* Profile Pic */
  $("#profile-pic-chooser").change(function (e) {
    console.log($(this));
    var file = $(this).get(0).files[0];
    var reader = new FileReader();

    reader.addEventListener("load", function () {
      $('#profile-pic-data-url').val(reader.result);
      $('#profile-pic-show').attr('src', reader.result);
      // console.log(reader.result);
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  })
</script>

<% include ../partials/contact %>
<% include ../partials/footer %>
