<div class="row mt-1 mb-1 p-1 flex-items-md-between">
  <div class="mr-1 mb-1">
    <div class="btn-group pl-1">
      <button type="button" id="bulkActions"
              class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" id="review" onclick="setProp('<%= foundGift.user._id%>', '<%= foundGift.id%>', 'review')">
          <i class="fa fa-file" aria-hidden="true"></i> Review
        </a>
        <a class="dropdown-item" id="accepted" href="#" onclick="setProp('<%= foundGift.user._id%>', '<%= foundGift.id%>', 'accepted');">
          <i class="fa fa-check" aria-hidden="true"></i> Accept
        </a>
        <a class="dropdown-item" href="#" id="declined" onclick="setProp('<%= foundGift.user._id%>', '<%= foundGift.id%>', 'declined');">
          <i class="fa fa-ban" aria-hidden="true"></i> Decline
        </a>
        <a class="dropdown-item" id="paid" href="#" onclick="setProp('<%= foundGift.user._id%>', '<%= foundGift.id%>', 'paid');">
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Paid
        </a>
        <a class="dropdown-item" id="excel" href="/admin/users/excel-gift/<%= foundGift.id %>" target="_blank">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export to Excel
        </a>
        <a class="dropdown-item" id="delete" href="#" onclick="setProp('<%= foundGift.user._id%>', '<%= foundGift.id%>', 'delete');">
          <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
        </a>
      </div>
      <button type="button" class="ml-2 btn btn-sm btn-outline-primary" onclick="go()">GO</button>
    </div>
  </div>
  <div class="mr-1 mb-1">
    <% if(pagination) { %>
    <span>
      <em>Showing <%= pagination.records %> Result(s).</em>
    </span>
    <% } %>
  </div>
  <div class="link-actions">
    <a href="#" onclick="updateActionAndGo('<%= foundGift.user._id%>', '<%= foundGift.id%>', 'declined');" data-toggle="tooltip" data-placement="top" title="Declined">
      <i class="icon fa fa-ban"></i>
    </a>
    <a href="#" onclick="updateActionAndGo('<%= foundGift.user._id%>', '<%= foundGift.id%>', 'paid');" data-toggle="tooltip" data-placement="top" title="Paid">
      <i class="icon fa fa-cart-arrow-down"></i>
    </a>
    <a href="/admin/users/excel-gift/<%= foundGift.id %>" target="_blank" data-toggle="tooltip" data-placement="top" title="Export to Excel">
      <i class="icon fa fa-file-excel-o"></i>
    </a>
    <a href="#" onclick="updateActionAndGo('<%= foundGift.user._id%>', '<%= foundGift.id%>', 'delete');" data-toggle="tooltip" data-placement="top" title="Delete">
      <i class="icon fa fa-trash-o"></i>
    </a>
  </div>
</div>


<script src="/assets/js/received-controller.js"></script>
